@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --secondary: #ffffff;
  --foreground: #000000;
  --border: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --secondary: #1c1c1c;
    --foreground: #dddddd;
    --border: #222222;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.halftone {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--background) 1px
  );
  background-size: 6px 6px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
}

@keyframes hero-gradient-animation {
    0% {
        --y-0: 1%;
        --x-0: 99%;
        --c-0: hsla(246.17647058823525, 100%, 67%, 1);
        --s-start-0: 0%;
        --s-end-0: 23%;
        --y-1: 0%;
        --x-1: 48%;
        --s-start-1: 3%;
        --s-end-1: 37%;
        --c-1: hsla(246.17647058823525, 100%, 83%, 1);
        --y-2: 59%;
        --x-2: 52%;
        --c-2: hsla(190.58823529411762, 98%, 53%, 1);
        --s-start-2: 10.245668978626407%;
        --s-end-2: 53.00411262851087%;
        --x-3: 98%;
        --c-3: hsla(252.48000000000002, 100%, 50%, 1);
        --s-start-3: 27%;
        --s-end-3: 61%;
        --y-3: 96%;
        --y-4: 95%;
        --c-4: hsla(246.17647058823525, 100%, 67%, 1);
        --x-4: 20%;
        --s-start-4: 4.996018797520725%;
        --s-end-4: 25%;
        --y-5: 82%;
        --x-5: 0%;
        --c-5: hsla(287.1428571428571, 100%, 50%, 1);
        --s-start-5: 14.358946921155306%;
        --s-end-5: 46.92030696576151%;
        --c-6: hsla(246.17647058823525, 100%, 67%, 1);
        --s-start-6: 0%;
        --s-end-6: 31%;
        --x-6: 76%;
        --y-6: 56%;
    }

    100% {
        --y-0: 7%;
        --x-0: 91%;
        --c-0: hsla(207.79411764705884, 100%, 67%, 1);
        --s-start-0: 27%;
        --s-end-0: 38%;
        --y-1: 18%;
        --x-1: 51%;
        --s-start-1: 0%;
        --s-end-1: 46%;
        --c-1: hsla(207.79411764705893, 100%, 93%, 1);
        --y-2: 45%;
        --x-2: 55%;
        --c-2: hsla(217.05882352941182, 98%, 53%, 1);
        --s-start-2: 4.996018797520725%;
        --s-end-2: 63;
        --x-3: 91%;
        --c-3: hsla(215.73529411764713, 89%, 50%, 1);
        --s-start-3: 5.651615432971377%;
        --s-end-3: 29.325469787211585%;
        --y-3: 93%;
        --y-4: 95%;
        --c-4: hsla(207.79411764705884, 100%, 67%, 1);
        --x-4: 27%;
        --s-start-4: 25%;
        --s-end-4: 43%;
        --y-5: 89%;
        --x-5: 23%;
        --c-5: hsla(287.05882352941177, 100%, 50%, 1);
        --s-start-5: 5.651615432971377%;
        --s-end-5: 47.75040556060795%;
        --c-6: hsla(207.79411764705884, 100%, 67%, 1);
        --s-start-6: 7%;
        --s-end-6: 85%;
        --x-6: 95%;
        --y-6: 65%;
    }
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 99%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(246.17647058823525, 100%, 67%, 1)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 37%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(246.17647058823525, 100%, 83%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(190.58823529411762, 98%, 53%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10.245668978626407%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 53.00411262851087%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(252.48000000000002, 100%, 50%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 27%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 95%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(246.17647058823525, 100%, 67%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4.996018797520725%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 25%
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(287.1428571428571, 100%, 50%, 1)
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14.358946921155306%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46.92030696576151%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(246.17647058823525, 100%, 67%, 1)
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 76%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 56%
}

.animated-gradient {
    --y-0: 1%;
    --x-0: 99%;
    --c-0: hsla(246.17647058823525, 100%, 67%, 1);
    --y-1: 0%;
    --x-1: 48%;
    --c-1: hsla(246.17647058823525, 100%, 83%, 1);
    --y-2: 59%;
    --x-2: 52%;
    --c-2: hsla(190.58823529411762, 98%, 53%, 1);
    --x-3: 98%;
    --c-3: hsla(252.48000000000002, 100%, 50%, 1);
    --y-3: 96%;
    --y-4: 95%;
    --c-4: hsla(246.17647058823525, 100%, 67%, 1);
    --x-4: 20%;
    --y-5: 82%;
    --x-5: 0%;
    --c-5: hsla(287.1428571428571, 100%, 50%, 1);
    --c-6: hsla(246.17647058823525, 100%, 67%, 1);
    --x-6: 76%;
    --y-6: 56%;
    ;
    background-color: hsla(250.49327354260075, 0%, 100%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: color-dodge, color-dodge, color-dodge, normal, normal, normal, normal;
}