@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #f8f8f8;
  --foreground: #000000;
  --border: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --secondary: #111111;
    --foreground: #eeeeee;
    --border: #222222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
